In [25]:
import time
import math as m
import pandas as pd
import requests
from nba_api.stats.endpoints import leaguegamefinder, boxscoretraditionalv2
from nba_api.stats.library.parameters import SeasonType, SeasonID, LeagueID

In [7]:
# Read current CSV and get max date pulled
path = "C:/Users/zacha/OneDrive/Desktop/sports_data_storage/sports/nba/team_box_scores_ao_2022-01-06.csv"

In [8]:
df = pd.read_csv(path)

In [13]:
dates = df['GAME_DATE'].unique()

In [18]:
max_old_date = max(dates)
season_yr = '2021-22'

In [19]:
gamefinder = leaguegamefinder.LeagueGameFinder(season_type_nullable=SeasonType.regular,season_nullable=season_yr,
                                               league_id_nullable=LeagueID.nba)

In [20]:
games = gamefinder.get_data_frames()[0]

In [22]:
new_games = games[games['GAME_DATE']>max_old_date]

In [27]:
from datetime import date
today = date.today()
print("Today's date:", today)

Today's date: 2022-02-02

In [28]:
games.to_csv(f"C:/Users/zacha/OneDrive/Desktop/sports_data_storage/sports/nba/team_box_scores_ao_{today}.csv",index = False)

In [31]:
all_new_games = list(new_games['GAME_ID'].unique())
# all_new_games

In [32]:
def get_box_score_df(g_id):
    bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id = g_id).get_data_frames()[0]
    return bs

In [37]:
from time import sleep
import sys

all_results = []

N = len(all_new_games)

print(f"Reading {N} games from NBA_API")

n = 0
i = 0
partition = int(N/50)
for g_id in all_new_games:
    if (n % partition == 0) or (n==0):
        sys.stdout.write('\r')
        # the exact output you're looking for:
        sys.stdout.write("[%-50s] %d%%" % ('='*i, 2*i))
        sys.stdout.flush()
        i += 1
    all_results.append(get_box_score_df(g_id))
    sleep(1)
    n += 1

Reading 199 games from NBA_API
[==================================================================] 132%

In [43]:
new_player_df = pd.concat(all_results)

In [42]:
p_2 = "C:/Users/zacha/OneDrive/Desktop/sports_data_storage/sports/nba/player_box_scores_ao_2022-01-06.csv"
old_player_df = pd.read_csv(p_2)
old_player_df

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22100567,1610612765,DET,Detroit,1630180,Saddiq Bey,Saddiq,F,NaN,26:48,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,1.0,11.0,-24.0
1,22100567,1610612765,DET,Detroit,1628977,Hamidou Diallo,Hamidou,F,NaN,23:32,...,1.0,2.0,3.0,1.0,1.0,0.0,0.0,3.0,9.0,-25.0
2,22100567,1610612765,DET,Detroit,1626168,Trey Lyles,Trey,C,NaN,23:59,...,2.0,5.0,7.0,1.0,0.0,0.0,1.0,1.0,17.0,-5.0
3,22100567,1610612765,DET,Detroit,1630595,Cade Cunningham,Cade,G,NaN,26:23,...,0.0,2.0,2.0,7.0,2.0,0.0,4.0,4.0,16.0,-18.0
4,22100567,1610612765,DET,Detroit,1630165,Killian Hayes,Killian,G,NaN,24:27,...,0.0,1.0,1.0,4.0,3.0,0.0,0.0,3.0,8.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14673,22100001,1610612749,MIL,Milwaukee,203648,Thanasis Antetokounmpo,Thanasis,NaN,NaN,12:24,...,1.0,3.0,4.0,1.0,0.0,1.0,0.0,1.0,6.0,8.0
14674,22100001,1610612749,MIL,Milwaukee,1629670,Jordan Nwora,Jordan,NaN,NaN,26:28,...,0.0,6.0,6.0,1.0,1.0,1.0,1.0,3.0,15.0,6.0
14675,22100001,1610612749,MIL,Milwaukee,1630572,Sandro Mamukelashvili,Sandro,NaN,NaN,7:02,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0
14676,22100001,1610612749,MIL,Milwaukee,1629620,Justin Robinson,Justin,NaN,NaN,4:01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0
14677,22100001,1610612749,MIL,Milwaukee,1630686,Georgios Kalaitzakis,Georgios,NaN,NaN,1:16,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [44]:
frames = [old_player_df,new_player_df]
result = pd.concat(frames)

In [46]:
result.to_csv(f"C:/Users/zacha/OneDrive/Desktop/sports_data_storage/sports/nba/player_box_scores_ao_{today}.csv",index = False)